* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: black;
    min-height: 100%;
}
body {
    position: relative;
    font-family: 'Josefin Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    color: whitesmoke;
    min-height: 100vh;
    overflow-x: hidden;

}
header {
    display: flex;
    justify-content: center;
    align-items: center;
}
header a img {
    max-width: 400px;
    margin: 1vh;
}

main {
    display: flex;
    justify-content: center;
    gap: 1em;
    position: relative;
}
aside {
    flex: 0 1 300px;
    
}
.navlist {
    position: sticky;
    top: 75px;
}
.navlist ul {
    list-style-type: none;

}
.navlist li {
    background-color: rgb(55, 54, 54);
    border-radius: 10px;
    margin-bottom: .25em;
}
.navlist a {
    border-radius: 10px;
    text-decoration: none;
    display: block;
    padding: .5em;
    font-size: 120%;
    color: whitesmoke;
    font-weight: bold;
    transition: all ease-in-out 300ms;
}
.navlist a:hover {
    background-color: gray;
    color: black;
}
.thumbs {
    margin: 2em;
}
.thumbs img {
    max-width: 300px;
    margin-bottom: 1em;
    border-radius: 10px;
}
section {
    flex: 0 1 600px;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section h3 {
    text-align: left;
    font-size: 150%;
    margin-bottom: .25em;
}
section p {
    font-size: 110%;
    line-height: 1.5;
    margin-bottom: 3em;
}
section ul {
    margin: 0 3em;
}
.albumcovers img {
    max-width: 600px;
    border-radius: 10px;
    border: 3px ridge goldenrod;
    margin-bottom: 2em;
}
.frog img {
    max-width: 500px;
    border-radius: 50%;
}

footer {
    position: sticky;
    top: 100%;
    padding: 2vh 0;
}
footer p {
    text-align: center;
    font-size: 90%;
    font-variant: small-caps;
}


@media (max-width: 767px) {
    header {
        justify-content: center;
    }
    header a img {
        max-width: 300px;
        margin: 0 auto;
    }
    main {
        flex-direction: column;
    }
    .navlist {
        display: none;
    }
    aside, section {
        flex: 1 1 100%;
    }
    section {
        padding: 1em 0;
    }
    section div {
        height: auto;
    }
    section p {
        margin: 1em 2em;
    }
    .albumcovers img, .frog img, .thumbs img {
        width: 100%;
        border-radius: 0;
        border: none;
    }
    .thumbs {
        margin: 0;
    }
    .thumbs img {
        max-width: 100%;
    }
}